<div class="sidebar">
  <div class="logo">TaskFlow</div>

  <div class="menu">
    <a class="menu-item" routerLink="/admin/dashboard" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <a class="menu-item" routerLink="/admin/projects" routerLinkActive="active">
      Projects
    </a>

    <a class="menu-item" routerLink="/admin/tasks" routerLinkActive="active">
      Tasks
    </a>

    <a class="menu-item" routerLink="/admin/team" routerLinkActive="active">
      Team
    </a>

    <a class="menu-item" routerLink="/admin/reports" routerLinkActive="active">
      Reports
    </a>

    <a class="menu-item" routerLink="/settings" routerLinkActive="active">
      Settings
    </a>
  </div>


  <div class="user">
    <img src="https://i.pravatar.cc/100" />
    <div class="info">
      <strong>John Doe</strong>
      <div>Admin</div>
    </div>
  </div>
</div>