<div class="sidebar">
  <div class="logo">TaskFlow</div>

  <div class="menu">
    <a class="menu-item" routerLink="/employee/dashboard" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <a class="menu-item" routerLink="/employee/my-tasks" routerLinkActive="active">
      My Tasks
    </a>

    <a class="menu-item" routerLink="/employee/profile" routerLinkActive="active">
      My Profile
    </a>
  </div>

  <div class="user">
    <div class="avatar-circle">{{ userInitial }}</div>
    <div class="info">
      <strong>{{ userName }}</strong>
      <div>{{ userRole }}</div>
    </div>
  </div>
</div>
